
<div class="ibox-content sign_in" style="min-height: 500px">
<h3>パスワードの変更</h3>


<% form_for( @jobseeker, :url => jobseeker_newpassword_path(params[:id])) do |f| %>

  <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  

  <div class="form-group m-t">
    <%= f.label '以前のパスワード：' %><br />
    <%= f.password_field :current_jobseeker_password, :class => "inputform", :placeholder => "" %>
  </div>

  <div class="form-group m-t">
      <%= f.label '新しいパスワード：' %><br />
      <%= f.password_field :password, :class => "inputform", :placeholder=>"" %>
  </div>

  <div class="form-group m-t">
      <%= f.label '確認パスワード：' %><br />
      <%= f.password_field :password_confirmation, :class => "inputform", :placeholder=>"" %>
  </div>
  <div class="form-group"><%= f.submit "変更", :class=>"btn_signin" %></div>

<% end %>

</div>
