<div class = "show_employer">
  <div class="row">
     
          <div class="column">
              <div class="wrapper">            
                <% if @employer.profile? %>        
                  <%= image_tag @employer.profile_url, :size => '150x150' %> 
                <% else %>
                  <%= image_tag "/images/profile.png", :size => '150x150' %>
                <% end %> 
              </div>
          </div>
    
          <div class="column">
            
              <div class="user-wrapper">
                  <h2 class="username"><%= @employer.name %>
                  <%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>" ,edit_employer_path %>
                  </h2>
              </div>
              <ul class="posts">
                <div class="row">
                  <% if @employer.location? %>               
                    <div class="column"><li class="spn_location"><i class="fa fa-map-marker location" aria-hidden="true"></i><span id="spn_location"><%= @employer.location %></span> </li></div>
                  <% end %>
                </div>
                
              </ul>
          
          </div>
  </div>
    

  <div class="about">
    <h2>会社紹介</h2>
    <p id = "p_about_employer"><%= @employer.info %></p>
  </div>
  <div class="contact">
    <h2>連絡先住所</h2>
    <p><i class="fa fa-phone-square phone" aria-hidden="true"></i><%= @employer.phone %></p>
    <p><i class="fa fa-envelope email" aria-hidden="true"></i><%= @employer.email %></p>
  </div>
  <div class="recent_work">
    <h2>最近の求人</h2>
    
    <% @already_offered.each do |offered_job| %>
          <%= link_to offered_job.title, t_joboffer_path(offered_job) , :class => " ", :id => "" %><br />
    <% end %>
    <% if @already_offered.present? and @already_offered.count>0  %>
      <div class="jobseeker_pagination">
        <%= will_paginate @already_offered, :prev_label => '<<', :next_label => '>>' %>   
      </div>
    <% end %>
   
  </div>

</div>